In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
result = pd.read_csv('data.csv')
result

,SBD,Họ và tên,Ngữ văn,Toán,Ngoại ngữ,Anh (ĐK),Pháp (ĐK),Toán chuyên,Văn chuyên,Lý chuyên,Hóa chuyên,Sinh chuyên,Sử chuyên,Địa chuyên,Anh chuyên,Nhật chuyên,Pháp chuyên
0,240355,PHẠM ANH VŨ,8.25,9.25,10.0,8.6,-100,-100,-100,-100,0.95,-100,-100.0,-100,5.2,-100,-100
1,280147,PHẠM THÀNH CÔNG,8.00,8.25,6.8,-100.0,-100,-100,-100,-100,-100.00,-100,-100.0,-100,-100.0,-100,-100
2,200769,TRƯƠNG THỊ MINH TÂM,9.00,8.50,9.2,4.8,-100,-100,-100,-100,-100.00,-100,5.0,-100,-100.0,-100,-100
3,150408,NGUYỄN THỊ YẾN NHI,8.75,7.75,6.8,-100.0,-100,-100,-100,-100,-100.00,-100,-100.0,-100,-100.0,-100,-100
4,270188,NGUYỄN ĐỨC HOÀNG,8.50,8.75,6.4,-100.0,-100,-100,-100,-100,-100.00,-100,-100.0,-100,-100.0,-100,-100
5,210063,VŨ THỊ MINH ÁNH,8.75,9.25,10.0,-100.0,-100,-100,-100,-100,-100.00,-100,-100.0,-100,-100.0,-100,-100
6,100643,TRỊNH TRẦN TIẾN,8.75,8.50,9.6,-100.0,-100,-100,-100,-100,-100.00,-100,-100.0,-100,-100.0,-100,-100

In [11]:
# Add the column 'total' to the dataframe
result['Tổng điểm chuyên toán'] = result['Toán'] + result['Ngữ văn'] + result['Anh (ĐK)'] +result['Toán chuyên'] * 2
result['Tổng điểm thường'] = result['Toán'] * 2 + result['Ngữ văn'] * 2 + result['Ngoại ngữ']

In [12]:
df = result[['SBD','Họ và tên','Tổng điểm chuyên toán', 'Tổng điểm thường']]
df

      SBD            Họ và tên  Tổng điểm chuyên toán  Tổng điểm thường
0  240355          PHẠM ANH VŨ                -173.90              45.0
1  280147      PHẠM THÀNH CÔNG                -283.75              39.3
2  200769  TRƯƠNG THỊ MINH TÂM                -177.70              44.2
3  150408   NGUYỄN THỊ YẾN NHI                -283.50              39.8
4  270188     NGUYỄN ĐỨC HOÀNG                -282.75              40.9
5  210063      VŨ THỊ MINH ÁNH                -282.00              46.0
6  100643      TRỊNH TRẦN TIẾN                -282.75              44.1